  <a href="#" class="list-group-item" data-value="{{arrival_time}}" data-shape-id="{{trip.shape_id}}">
    <h4 class="list-group-item-heading">Linea {{trip.route.route_short_name}} <small>{{trip.trip_headsign}}</small></h4>
    <p class="list-group-item-text">{{arrival_time}}</p>
  </a>

